<div *ngIf="hidden">
  <mat-card class="playing-card" fxFlex="125px" *ngIf="card!=null" style="border: 5px solid" [style.border-color]="'white'" [style.background-color]="'black'">
    <h1 style="text-align: center; color: white">¡UNO!</h1>
  </mat-card>
</div>
<div *ngIf="!hidden">

  <mat-card class="playing-card" fxFlex="125px" *ngIf="card!=null" style="border: 5px solid" [style.height]="showDeets?'170px':'auto'" [style.border-color]="valid?'orange':'white'" [style.background-color]="color==null?card.color:color">
    <h3 *ngIf="showDeets" style="text-align: start">{{getNameSmall()}}
      <img *ngIf="card.type == 3" src='assets/skip.png'>
      <img *ngIf="card.type == 5" src='assets/reverse.png'>
    </h3>

    <h2 style="text-align: center">{{getName()}}</h2>

    <h3 *ngIf="showDeets" style="text-align: end">{{getNameSmall()}}
      <img *ngIf="card.type == 3" src='assets/skip.png'>
      <img *ngIf="card.type == 5" src='assets/reverse.png'>
    </h3>
  </mat-card>

</div>