<app-game-board
  [deck]="gameService.getDeckLength()"
  [discard]="gameService.getLastCardInDiscard()"
  [hands]="gameService.getCardsInHand(0)"
  [oppHand]="gameService.getCardsInHand(1).length"
  [validCards]="gameService.getValidCards()"
  [newColor]="gameService.getCurrentColor()"
  [message]="messages[gameService.getTurn()]"
  [ended]="gameService.getWinner()"
  [turn]="gameService.getTurn()"
  [uno]="uno"
  (draw)="drawCard()"
  (play)="play($event)"
  (unoButton)="UNO(0)">
</app-game-board>
