<div class="center" style="text-align: center">

  <div fxLayout="column" fxLayoutGap="10px">
    
    <!-- Opponent's hand -->
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px">
        <app-card *ngFor="let card of hands[1]"
          [card]="card"
          [hidden]="true">
        </app-card>
      </div>

    <!-- Draw and discard -->
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="50px">
      <mat-card class="playing-card" style="border: 3px solid" [style.border-color]="(validCards.length==0 && turn==0)?'orange':'white'" fxFlex="125px" (click)="drawCard()">Draw pile:<br>{{deck}} cards</mat-card>
      <app-card [card]="discard" [color]="newColor"></app-card>
    </div>
    <h2 *ngIf="ended == -1">{{message}}</h2>
    <mat-progress-bar mode="indeterminate" *ngIf="turn == 1" fxFlexAlign="center" style="width: 200px"></mat-progress-bar>
    <h2 *ngIf="ended >= 0">Player {{ended+1}} WON!</h2>
    <button mat-raised-button fxFlexAlign="center" style="width: 75px" [disabled]="!uno" [style.background-color]="uno?'green':'white'" (click)="pressUno()">!UNO!</button>

    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px">
      <app-card *ngFor="let card of hands[0]"
        [card]="card"
        [valid]="validCards.indexOf(card)!=-1?true:false"
        (click)="playCard(card)">
      </app-card>
    </div>

  </div>

</div>
